<%- include("header") -%>

    <body>
        <div class="box" id="heading">
            <h1>It's a <%= title %>
            </h1>
        </div>

        <div class="box">
            <% for(var i=0;i<listItems.length;i++) {%>
                <div class="item">
                    <input type="checkbox">
                    <p>
                        <%= listItems[i] %>
                    </p>
                </div>
                <% } %>

                    <form class="item" action="/" method="post">
                        <input placeholder="New item" type="text" name="newItem" autocomplete="off">

                        <button type="submit" name="list" value=<%=title %>>+</button>
                    </form>
        </div>




    </body>

    <%- include("footer") -%>